:global a {
  color: var(--action-color);
  cursor: pointer;
  text-decoration: none;
  transition: color var(--base-duration) var(--base-timing);

  &:hover,
  &:focus,
  &:active {
    color: color(var(--action-color) blackness(11%));
  }
}
